# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-selfcheck.json

# Databases
*.db
*.sqlite
*.sqlite3

# Logs and results
output/
logs/
*.log
*.csv

# Session files
auth_state.json

# IDE settings
# .vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Other
.trash/